apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ .Values.project }}-registry-secret-vso
  namespace: {{ .Values.project }}
spec:
  type: kv-v2
  mount: shared
  path: registry/harbor
  vaultAuthRef: {{ .Values.project }}-vault-auth
  refreshAfter: 300s
  destination:
    name: registry-secret
    create: true
    type: kubernetes.io/dockerconfigjson
    transformation:
      templates:
        .dockerconfigjson: |
          {
            "auths": {
              "{{ "{{" }} .Secrets.url {{ "}}" }}": {
                "username": "{{ "{{" }} .Secrets.username {{ "}}" }}",
                "password": "{{ "{{" }} .Secrets.password {{ "}}" }}"
              }
            }
          }
