apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $.Values.project }}-github-secret-vso
  namespace: {{ .Values.project }}
spec:
  type: kv-v2
  mount: shared
  path: git/github
  destination:
    name: {{ $.Values.project }}-github-access-secret
    create: true
  vaultAuthRef: {{ $.Values.project }}-vault-auth-shared
  refreshAfter: 300s
