{{- range $app := .Values.applications }}
{{- if $app.git.hash }}
{{- range $service := $app.endpoints }}
{{- range $route := $service.routes }}
{{- $domain := regexFind "^[^/]+" $route }}
{{- $path := regexFind "/.*" $route | default "" }}
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ $.Values.project }}-{{ $app.name }}-{{ $domain | replace "." "-" }}{{ if $path }}{{ $path | replace "/" "-" }}{{ end }}-route
  namespace: {{ $.Values.project }}
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`{{ $domain }}`){{ if $path }} && PathPrefix(`{{ $path }}`){{ end }}
      kind: Rule
      services:
        - name: {{ $app.name }}
          port: {{ $service.port }}
      {{- if $path }}
      middlewares:
        - name: {{ $.Values.project }}-{{ $app.name }}-{{ $path | replace "/" "-" | trimPrefix "-" }}-strip-prefix
      {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- range $app := .Values.applications }}
{{- if $app.git.hash }}
{{- range $service := $app.endpoints }}
{{- range $route := $service.routes }}
{{- $path := regexFind "/.*" $route | default "" }}
{{- if $path }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ $.Values.project }}-{{ $app.name }}-{{ $path | replace "/" "-" | trimPrefix "-" }}-strip-prefix
  namespace: {{ $.Values.project }}
spec:
  stripPrefix:
    prefixes:
      - {{ $path }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}