{{- range $app := .Values.applications }}
{{- if $app.git.hash }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $app.name }}
  namespace: {{ $.Values.project }}
spec:
  ports:
  {{- range $index, $service := $app.endpoints }}
  - name: {{ if $service.name }}{{ $service.name }}{{ else }}port-{{ $service.port }}{{ end }}
    port: {{ $service.port }}
    targetPort: {{ $service.port }}
  {{- end }}
  selector:
    app: {{ $app.name }}-app
{{- end }}
{{- end }}
